.top {
  width : 100%;
}

.container-fluid {
  background : #0b92d4 repeat;
	float : left;
	position : absolute;
}

.navbar-text {
  color: #FFF;
  padding : 0%;
  margin : 1%;
}

.navbar  {
  margin: 0;
}

.navbar-brand {
  padding: 0;
  margin-top: 7px;
}

.navbar-brand img {
  max-height: 110%;
  padding-left: 7px;
}

.navbar-collapse {
  margin-left: 80px;
  padding: 0px 5px 0px 5px;
}

#connect {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

#Search {
  float: right;
  padding-top: 15px;
  padding-right: 30px;
}
