.top {
  width : 100%;
}

.container-fluid {
  background : #0b92d4 repeat;
	float : left;
	position : absolute;
}

.title {
  color: #FFF;
  padding : 1%;
  margin : 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-height: 100%;
}
