{% extends "base.html" %}

{% block title %}
Mes associations
{% if respo %}
<a class="btn btn-primary" href="{% url 'core:association_create' %}">+</a>
{% endif %}
{% endblock %}

{% block content %}
  {% for asso in associations %}
    <div class="card event">
        <div class="card-header">
            <a href="{% url 'core:association' asso.name %}">{{ asso.name }}</a>
            <img src="{{ asso.logo.url }}" class="img-fluid logo">

        {% if respo %}
            <button type="button" class="btn btn-danger btn-xs" style="float: right;"
                            onclick="window.location.href='{% url 'core:association_rm' asso.name %}'">&#x2715;</button>
        {% endif %}
        </div>
    </div>
  {% endfor %}
{% endblock %}
