{% extends "base.html" %}

{% block title %}
Mes associations
<a class="btn btn-primary" href="{% url 'core:association_create' %}">+</a>
{% endblock %}

{% block content %}
<ul>
  {% for asso in associations %}
    <li><a href="{% url 'core:association' asso.name %}">{{ asso.name }}</a>
        {% if respo %}
            <button type="button" class="btn btn-danger btn-xs"
                            onclick="window.location.href='{% url 'core:association_rm' asso.name %}'">&#x2715;</button>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}
