{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
  </head>
  <body>
  <header class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #004663;">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="{% static 'img/epita.png' %}">
    </a>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <h1 class="navbar-text">Billetterie</h1>
        <button type="button" class="btn btn-primary my-2 my-sm-0" id="connect">Connexion</button>
      <form class="form-inline mt-2 mt-md-0" id="Search">
        <input class="form-control mr-sm2" placeholder="Recheche..." aria-label="Recherche" type="text">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Recherche</button>
      </form>
    </div>
  </header>
  <nav class="navbar navbar-dark bg-dark" style="background-color: #00a9e6;">
      <button type="button" class="btn btn-secondary">Mes associations</button>
      <button type="button" class="btn btn-secondary">Mes évènements</button>
  </nav>
  </body>
</html>
