{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
</head>
  <header class="navbar navbar-expand-md fixed-top justify-content-between" style="background-color: #004663;">
    <a class="navbar-brand" href="{% url 'core:index' %}">
        <img class="img-fluid" src="{% static 'img/epita.png' %}">
    </a>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <h3 class="navbar-text">
        <a class="navbar-text" href="{% url 'core:index' %}">Billetterie</a>
      </h3>
      <form class="form-inline mt-2 mt-md-0" id="search">
        <input class="form-control mr-sm2" placeholder="Recheche..." aria-label="Recherche" type="text">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Recherche</button>
      </form>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary my-2 my-sm-0" id="connect"
                    onclick="window.location.href='{% url 'core:logout' %}'">Déconnexion
            </button>
        {% else %}
            <button type="button" class="btn btn-primary my-2 my-sm-0" id="connect"
                    onclick="window.location.href='{% url 'core:login' %}'">Connexion
            </button>
        {% endif %}
    </div>
  </header>
  <nav class="navbar navbar-inverse" style="background-color: #00a9e6;">
      <button type="button" class="btn btn-secondary">Mes associations</button>
      <button type="button" class="btn btn-secondary">Mes évènements</button>
  </nav>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
