{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Poppers.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>

    <!-- Minimal JavaScript to make Bootstrap work -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <!-- Carousel  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">

    <!-- Paypal button script -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>



</head>


<header>
    <!-- Lighter colored navbar with links to "Mes associations" & "Mes évènements" -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #004663;">

        <!-- Epita logo -->
        <a class="navbar-brand" href="{% url 'core:index' %}">
            <img class="img-fluid" src="{% static 'img/epita.png' %}">
        </a>

        <!-- Page title -->
        <a href="{% url 'core:index' %}">
        <h2 class="my-navbar-text">
            Billetterie
        </h2>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links to asso and events -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav bd-navbar-nav flex-row mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="home" href={% url 'core:index' %}>Accueil <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mes_asso" href="{% url 'core:associations' %}">Mes associations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mes_event" href="{% url 'core:my_events' %}">Mes évènements</a>
                </li>
            </ul>

            <ul class="separator"></ul>
            <ul class="separator"></ul>

            <!--Search bar -->

            <form class="form-inline my-2 my-lg-0 navbar-form" role="search">
                <div class="">
                  <input id="q" name="q" type="text" class="form-control mr-sm-2" placeholder="Recherche" autocomplete="off" autocarrect="false" spellcheck="false" onfocus="startSearch()">
                  <div id="hits" class="list-group mr-sm-2"></div>
                </div>
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Recherche</button>
            </form>

            <ul class="divider"></ul>

            <!-- Login dropdown-->
            {% if not user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Connexion</b> <span
                            class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    Se connecter avec :

                                    <!-- Connection button  -->
                                    <div class="social-buttons">
                                        <a href="{% url 'social:begin' backend='epita' %}"
                                           class="btn btn-primary">Epita</a>
                                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">
                                            <i class="fab fa-google"></i> Google
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Logout -->
            {% else %}
            <a class="btn btn-warning my-2 my-sm-0" href="{% url 'core:logout' %}">Déconnexion</a>
            {% endif %}
        <script>
            $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
            });
        </script>

        </div>
    </nav>

</header>

<body>


<!-- Alert with feedback messages for user actions -->

<!-- A danger alert check -->
{% if fail is not None %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ fail }}
    </div>
{% endif %}

<!-- A success alert check -->
    <div {%if info is None %}style="display: none"{%endif%} class="alert alert-success alert-dismissible" role="alert" id="info-alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="info-text">{{ info }}</span>
    </div>

<!-- box -->
<div class="content-container">
    <h1>
      <i data-feather="chevron-right"></i>
      {% block title %}{% endblock %}
    </h1>
    <div class="title-sep"></div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<footer>
  <br />
</footer>

<!-- Search result template -->
{% verbatim %}
<script type="text/template" id="hit-template">
  <a href="{{link}}" class="list-group-item list-group-item-action active" style="padding: .5rem;">{{{ _highlightResult.title.value }}}</a>
</script>
{% endverbatim %}

<!-- Scripts -->
<script src="//cdn.jsdelivr.net/g/algoliasearch,algoliasearch.helper"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
<script>

  feather.replace();
  function startSearch() { $('#hits').show(); }

  $(document).ready(function() {
    var $inputField = $('#q');
    var $hits = $('#hits');

    var hitTemplate = Hogan.compile($('#hit-template').text());

    var client = algoliasearch('N6SDHHN99O', 'f7c60c059b5d9c6c3493fcb203738835');
    var helper = algoliasearchHelper(client, 'Event');

    $inputField.on('keyup', function() {
      var query = $inputField.val();
      helper.setQuery(query).search();
    });

    helper.on('result', function(content) {
      if (content.hits.length === 0)
        $hits.html('<a href="#" class="list-group-item disabled">No results</a>');
      else
      {
        var id = content.hits[0].objectID;
        content.hits[0].link = "{% url 'core:event' 42 %}".replace("42", id.toString());
        $hits.html(hitTemplate.render(content.hits[0]));
      }

    });

  });

  <!-- Manage active link -->
  $(function () {
      var current = location.pathname;

      var home = document.getElementById("home");
      if (home.attributes.href.value.localeCompare(current) == 0)
          home.classList.add("active");

      var assos = document.getElementById("mes_asso");
      if (current.startsWith(assos.attributes.href.value))
          assos.classList.add("active");

      var events = document.getElementById("mes_event");
      if (current.startsWith(events.attributes.href.value))
          events.classList.add("active");
  })
</script>


</body>
</html>
