{% extends "base.html" %}

{% block content %}
{% if info %}
    <div class="alert alert-success" role="alert">
        {{ info }}
    </div>
{% endif %}
<h1>{{ asso.name }}</h1>
<div id="events_asso" class="panel panel-primary">
    <div class="panel panel-heading">
        <span class="glyphicon glyphicon-calendar"></span>
        Evènements
    </div>
    <div class="panel panel-body">
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Statut</th>
                </tr>
            </thead>

            <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="#">{{ event.title }}</a>
                        </td>

                        <td>
                            {% include 'event_status.html' %}
                        </td>

                        <td>
                            {% if event.status == '1' %}
                                <button type="button" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="office_asso" class="panel panel-primary">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        Bureau
        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#officeModal">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <div class="panel-body">
        <table>
            {% for member in office %}
                <tr>
                    <td>
                        {{ member.member.username }}
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger btn-xs"
                            onclick="window.location.href='{% url 'core:association_remove' asso.name member.member.username %}'">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="officeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document"></div>

    <div class="modal-content">
        <div class="modal-header">
            <h4>Ajouter un membre au bureau</h4>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" action="{% url 'core:association' asso.name %}">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
    </div>
</div>

<img href="{{ asso.logo }}"/>
{% endblock %}