{% extends "base.html" %}

{% block title %}
Dashboard {{ event.title }}
<button onclick="window.location = '{% url 'core:event' event.id %}'"
        type="button" class="btn btn-info btn-sm">
  <i data-feather="calendar"></i>
</button>
{% endblock %}

{% block content %}
<div class="card">
<div class="card-header">
  <h5>Jeton de l'évènement : {{ event.token }}</h5>
</div>

<div class="card-body">

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-staff-tab" data-toggle="tab" href="#nav-staff" role="tab" aria-controls="nav-staff" aria-selected="true">
      <i data-feather="user-plus"></i> Staff
    </a>

    <a class="nav-item nav-link" id="nav-infos-tab" data-toggle="tab" href="#nav-infos" role="tab" aria-controls="nav-infos" aria-selected="false">
      <i data-feather="info"></i> Informations
    </a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-staff" role="tabpanel" aria-labelledby="nav-staff-tab">
    <div class="container">
      <div class="row">
        <table class="table table-hover table-sm table-condensed table-striped" id="staff_table" style="border-top: none">
          <caption>Liste des staffs</caption>
          <thead>
            <tr>
              <th>Nom d'utilisateur</th>

              <th>Association</th>

              <th>
                <input type="text" id="filterInput" onkeyup="filter()" placeholder="Rechercher..." class="form-control">
              </th>

              <th>
                {% if can_manage_staff %}
                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#staff-modal">
                  <i data-feather="plus"></i>
                </button>
                {% endif %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for s in staff %}
            <tr id="line{{ s.id }}">
              <td>
                {{ s.member.username }}
              </td>

              <td>
                {{ s.asso.name }}
              </td>

              <td>
              </td>

              <td>
                {% if can_manage_staff %}
                <button type="button" class="btn btn-sm btn-danger" id="staff{{ s.id }}">
                  <i data-feather="x"></i>
                </button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="nav-infos" role="tabpanel" aria-labelledby="nav-infos-tab">
    <br />
    {% if can_edit %}
    <p style="text-align: right">
      <button type="button" class="btn btn-sm btn-primary" id="edit-button"><i data-feather="edit"></i></button>
    </p>
    {% endif %}
    <form enctype='multipart/form-data' action="{% url 'core:event_manage' event.id %}" method="post" id="edit-form">
      {% csrf_token %}
      {% include 'event_form.html' %}
      <p style="text-align: right">
        <button id="submit-edit" type="submit" class="btn btn-primary" disabled>Valider</button>
      </p>
    </form>
  </div>


</div>

</div>
</div>

{% if can_manage_staff %}
{% include "add_staff.html" with form=staff_form action="Ajouter" desc="Ajouter un staff" id="staff-modal" %}
{% endif %}

<script>
feather.replace({'width': 16, 'height': 16});
</script>

<script>
  {% for s in staff %}
    $("#staff{{ s.id }}").click(function() {
      var id = {{ event.id }};

      $.ajax({
        url: '{% url 'core:rm_staff' %}',
        data: {
          'event': id,
          'staff': {{ s.id }}
        },
        datatype: 'json',
        success: function(data) {
          if (data.success) {
            var row = document.getElementById("line{{ s.id }}");
            row.remove();
            var info = document.getElementById("info-alert");
            info.style.display = "block";
            info.querySelector("#info-text").textContent =
              "{{ s.member.username }} a été retiré de la liste des staffs";
          }
        }
      });
    });
  {% endfor %}
</script>

<script>
  function tableFilter(filter, table) {
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function filter() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("filterInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("staff_table");
    tableFilter(filter, table);
  }
</script>

<script>
  var edit = document.getElementById('edit-button');

  edit.onclick = function() {
    var form = document.forms["edit-form"];

    var inputs = form.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].removeAttribute('readonly');
    }

    var textareas = form.getElementsByTagName('textarea');
    for (var i = 0; i < textareas.length; i++) {
      textareas[i].removeAttribute('readonly');
    }

    document.getElementById('submit-edit').removeAttribute('disabled');
  };
</script>
{% endblock %}
