{% load static %}
<html>
<head>
 <!-- Materialize CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
 <!-- Material icons -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<title>Billeterie</title>


<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper container">
          <a href="{% url 'core:index' %}" class="brand-logo center">Billeterie</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
                <li><a href="{% url 'core:logout' %}">Log out</a></li>
              {% else %}
                <li><a href="{% url 'core:login' %}">Log in</a></li>
              {% endif %}
            </ul>
        </div>
    </nav>
</div>


<div class="container">
    {% block content %}
    <p>Your username is : <b>{{ user.username }}</b></p>
    <p>Your email is : <b>{{ user.email }}</b></p>
    {% endblock %}
</div>
</html>
