{% extends "base.html" %}
{% load staticfiles %}
{% load static %}


<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>

{% block title %}
    Accueil
{% endblock %}

{% block content %}

    <div id="home-carousel" class="carousel slide shadow" data-ride="carousel">
        <!-- Carousel indicators, might be dropped -->


        <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="item0 active"></li>
            {% for i in nb_events %}
                <li data-target="#home-carousel" data-slide-to="{{ i }}" class="item{{ i }}"></li>
            {% endfor %}
        </ol>


        <!-- Displayer -->
        <div class="carousel-inner" role="listbox">
            <!-- Put some python code here to generate the carousel items from images -->
            <!-- carousel items are of the following format: -->
            <!-- Current active item -->

            <div class="item carousel-item active">
                <img id="image" class="d-block w-100" src="{% static 'img/event.jpg' %}" alt="first slides"
                     data-holder-rendered="true">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="main-title">BIENVENUE SUR LA BILLETTERIE D'EPITA</h3>
                    <p id="carousel-par">Venez faire la fête avec nous!</p>
                </div>
            </div>

            {% for event in events %}
                <div class="item carousel-item" style="text-shadow: 1px 1px 3px #000000; cursor: pointer" onclick="window.location = '{% url 'core:event' event.id %}'">
                    <img id="image" class="d-block w-100" src="{{ event.cover.url }}" alt="other slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>{{ event.title }}</h3>
                        <p id="carousel-par">{{ event.place }}</p>
                        <p>{{ event.start }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <!-- Left/right carousel controls -->
        <a class="left carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control-next" href="#home-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br />

<style>
.footer-widget {
    height: 100%;
    width: 100%;
}
</style>

    <div class="container bg-white shadow">
      <h2>Prochains évènements</h2>
      <div style="border-top:1px solid black"></div>
      <br />
      {% for row in calendar %}
      <div class="row">

        {% for col in row %}
        <div class="col-md-4">
          <div class="card border-info footer-widget shadow-sm">

            <div class="card-header border-info">
              {{ col.date }}
            </div>

              {% if col.events %}
              <ul class="list-group">
                {% for event in col.events %}
                <a href="{% url 'core:event' event.id %}" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                  {{ event.title }}
                  <span class="badge badge-primary badge-pill">{{ event.time }}</span>
                </a>
                {% endfor %}
              </ul>
              {% else %}
              <div class="card-body">
              </div>
              {% endif %}


          </div>
        </div>
        {% endfor %}

      </div>
      <br />
      {% endfor %}
    </div>

    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#home-carousel").carousel();

            // Enable Carousel Indicators
            $(".item0").click(function () {
                $("#home-carousel").carousel(0);
            });


            {% for i in nb_events %}
                $(".item{{ i }}").click(function () {
                    $("#home-carousel").carousel({{ i }});
                });
            {% endfor %}


            // Enable Carousel Controls
            $(".left").click(function () {
                $("#home-carousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#home-carousel").carousel("next");
            });
        });

    </script>


{% endblock %}
