{% extends 'base.html' %}
{% block title %}
   Mes évènements
{% endblock %}

{% block content %}
    {% if not events %}
        Aucun évènement prévu
    {% endif %}
    {% for event in events %}
        <div class="card event">
            <div class="card-header container">
                <div class="row">
                    <div class="col-md-5">
                        <a href="#" class="event-title">{{ event.title }}</a>
                        {% include 'event_status.html' %}
                    </div>

                    <div class="cold-md-7">
                        <div class="event-dates float-right">
                            {{ event.start }} - {{ event.end }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#body{{ event.id }}">
                            Show
                        </button>
                    </div>

                    <div class="col-md-10">
                        <a class="event-orga" href="{% url 'core:association' event.orga %}">{{ event.orga }}</a>
                    </div>
                </div>
            </div>

            <div id="body{{ event.id }}" class="collapse">
                <div class="row">
                    <div class="col-md-8 card-body container">
                        <table class="table table-condensed table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Internes</th>
                                    <th>Externes</th>
                                    <th>Staffs</th>
                                    <th>Totaux</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Inscrits</td>
                                    <td>{{ event.stat.registered.interns }}</td>
                                    <td>{{ event.stat.registered.externs }}</td>
                                    <td>{{ event.stat.registered.staff }}</td>
                                    <td>{{ event.stat.registered.total }}</td>
                                </tr>

                                <tr>
                                    <td>Billets utilisés</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="event-tools container col-md-4">
                        <div class="row">
                            <button type="button" class="btn btn-info btn-sm">
                                Valider entrée
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
