{% extends 'base.html' %}
{% block title %}
   Mes évènements
{% endblock %}

{% block content %}
    {% if not events %}
        Aucun évènement prévu
    {% endif %}
    {% for event in events %}
        <div class="card event">
            <div class="card-header container">
                <div class="row">
                    <div class="col-md-5">
                        <a href="#" class="event-title">{{ event.title }}</a>
                        {% if event.premium %}
                          <i data-feather="star"></i>
                        {% endif %}
                        {% include 'event_status.html' %}
                    </div>

                    <div class="cold-md-7">
                        <div class="event-dates float-right">
                            {{ event.start }} - {{ event.end }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#body{{ event.id }}">
                            Plus
                        </button>
                    </div>

                    <div class="col-md-10">
                        <a class="event-orga" href="{% url 'core:association' event.orga %}">{{ event.orga }}</a>
                    </div>
                </div>
            </div>

            <div id="body{{ event.id }}" class="collapse">
                <div class="row">

                    <div class="event-tools container col-md-4">
                      <ul class="list-group list-group-flush">
                            {% if event.status == 3 %}
                                {% if disp or respo %}
                                <div class="list-group-item">
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                            data-target="#{{ event.id }}">
                                        Valider entrée
                                    </button>
                                </div>
                                {% endif %}
                            {% endif %}

                            {% if event.status == 1 %}
                            <div class="list-group-item">
                                {% if event.valid %}
                                    {% if not event.pres %}
                                        {% include 'validation.html' %}
                                    {% endif %}
                                {% elif respo %}
                                    {% if not event.resp %}
                                        {% include 'validation.html' %}
                                    {% endif %}
                                {% endif %}

                            </div>
                            {% endif %}


                        {% if respo %}
                          <div class="list-group-item">
                            {% if event.premium %}
                            <button type="button" class="btn btn-danger btn-sm"
                                                  onclick="window.location.href='{% url 'core:premium' event.id %}'">
                              Supprimer premium
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-info btn-sm"
                                                  onclick="window.location.href='{% url 'core:premium' event.id %}'">
                              Rendre premium
                            </button>
                            {% endif %}
                          </div>
                        {% endif %}


                        <div class="list-group-item">
                            {% if event.stat.pres %}
                                <div class="badge badge-success">Accord président</div>
                            {% else %}
                                <div class="badge badge-danger">Accord président</div>
                            {% endif %}
                        </div>

                        <div class="list-group-item">
                            {% if event.stat.respo %}
                                <div class="badge badge-success">Accord responsable</div>
                            {% else %}
                                <div class="badge badge-danger">Accord responsable</div>
                            {% endif %}
                        </div>

                      </ul>
                    </div>
                  {% if event.status == 3 %}
                    <div class="col-md-8 card-body container">
                        <table class="table table-condensed table-sm table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Internes</th>
                                    <th>Externes</th>
                                    <th>Staffs</th>
                                    <th>Totaux</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Inscrits</td>
                                    <td>{{ event.stat.registered.interns }}</td>
                                    <td>{{ event.stat.registered.externs }}</td>
                                    <td>{{ event.stat.registered.staff }}</td>
                                    <td>{{ event.stat.registered.total }}</td>
                                </tr>

                                <tr>
                                    <td>Billets utilisés</td>
                                    <td>{{ event.stat.used.interns }}</td>
                                    <td>{{ event.stat.used.externs }}</td>
                                    <td>{{ event.stat.used.staff }}</td>
                                    <td>{{ event.stat.used.total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>


            </div>
        </div>
    {% endfor %}

   {% for event in events %}
       {% include "validate_ticket.html" with form=event.form action="Valider" desc="Valider un billet" id=event.id event=event %}
   {% endfor %}
  <script>
    feather.replace({ 'width': 16, 'height': 16 })
  </script>
{% endblock %}
