{% extends "base.html" %}

{% block title %}
Statistiques
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#events">Evènements</a></li>
    <li><a data-toggle="tab" href="#registrations">Inscriptions</a></li>
  </ul>

  <div class="tab-content">
    <div id="events" class="tab-pane fade in active">
      <div class="card" style="border-top: none; height: -webkit-fill-available">
        <div class="card-body" style="overflow-y: scroll">
          <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
              <th>Association</th>
              <th>Terminés</th>
              <th>En cours</th>
              <th>Validés</th>
              <th>En attente</th>
              <th>Rejetés</th>
              <th>Total</th>
            </tr>
            </thead>

            <tbody>
              {% for e in event_stats %}
              <tr>
                <td>{{ e.name }}</td>
                <td>{{ e.finished }}</td>
                <td>{{ e.pending }}</td>
                <td>{{ e.validated }}</td>
                <td>{{ e.waiting }}</td>
                <td>{{ e.rejected }}</td>
                <td>{{ e.total }}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div id="registrations" class="tab-pane fade">
      <h3>Inscriptions</h3>
      <p>Some content in menu 1.</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}
