.top {
  width : 100%;
}

.container-fluid {
  background : #0b92d4 repeat;
	float : left;
	position : absolute;
}

.navbar-text {
  color: #FFF;
  padding : 0%;
  margin : 1%;
}

.navbar  {
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.navbar-brand {
  padding: 0;
  margin-top: 7px;
  margin-right: 0px;
}

.navbar-brand img {
  max-height: 110%;
  padding-left: 7px;
}


.navbar-inverse {
  margin-top: 74px;
}

#connect {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

#search {
  float: right;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.btn-secondary {
  margin: 7px 5px 7px 8px;
  background-color: #808080;
  color: #FFF;
}

#page_title:hover {
  text-decoration: none;
  color: white;
}

#home, #home:hover, #mes_asso, #mes_asso:hover, #mes_event, #mes_event:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
