.btn-xs {
    padding: 3px 6px;
    font-size: 10px;
}

.badge-event {
    margin-top: 10px;
    padding: 6px 6px;
    font-size: 12px;
}

#panel-asso-events {
}

#panel-asso-office {
}

.event-link {
    color: #0b92d4;
}
