.event {
    margin-bottom: 2%;
}

.event:last-child {
    margin-bottom: 0;
}

.event-short {
    background-color: #9dc8ec;
    padding: 2%;
}

.event-col {
    padding: 5px;
}

.asso-title {
    margin-right: 7px;
    color: darkgray;
}

.event-title {
    font-size: 1.4em;
}

.event-orga {
    float: right;
}

.event-dates {
    text-align: right;
}

.logo {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}

